@model RecommandationApp.Models.Offre

@{
    ViewBag.Title = "Delete";
}
<div id="wrap-body" class="container body-content">
    <div class="container">
        <div class="wrap-body-inner">
            <h2>Delete</h2>

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>Offre</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Representant.nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Representant.nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AdresseRecomo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AdresseRecomo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TelRecomo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TelRecomo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Image1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Image1)
                    </dd>


                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
            </div>
        </div>
    </div>
