@model RecommandationApp.Models.Representant

@{
    ViewBag.Title = "Détails";
}

<div id="wrap-body" class="container body-content">
    <div class="container">
        <div class="wrap-body-inner">
            <h2>Détails</h2>

            <div>
                <h4>Représentant</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nom)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.prenom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prenom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.entreprise)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.entreprise)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.adresse_entreprise)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.adresse_entreprise)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Retour a la Liste", "Index")
            </p>
            </div>
        </div>
    </div>
