@model RecommandationApp.Models.Utilisateur

@{
    ViewBag.Title = "Suppression";
}
<div id="wrap-body" class="container body-content">
    <div class="container">
        <div class="wrap-body-inner">
            <h2>Suppression</h2>

            <h3>Etes Vous sure de la suppression de ce compte?</h3>
            <div>
                <h4>Utilisateur</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.nom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.prenom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.prenom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.dateNaissance)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.dateNaissance)
                    </dd>


                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Supprimer" class="btn btn-danger edit" /> |
                        @Html.ActionLink("Retour a la Liste", "Index")
                    </div>
                }
            </div>
            </div>
        </div>
    </div>
